.App {
  text-align: center;
  display: grid;
  grid-template-columns: 18rem auto;
  grid-template-rows: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2e3035;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accountList {
  height: 100vh;
  background-color: #2e3035;

  grid-row: 1/3;
  grid-column: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.accountSingle {
  color: #61dafb;
  margin: 0.3rem 1rem;
  padding: 0.1rem 0;
  border-bottom: solid 1px #61dafb;
}

.mainAccount {
  color: #61dafb;
  margin: 0.3rem 1rem;
  width: 15rem;
  height: 6rem;
  border: solid 2px #61dafb;
}